<h1 class="header">Gamer Task Manager</h1>

<% if user_signed_in? %>
<h2 class="header"><%= current_user.username %> has signed in!</h2>
<%= link_to "Edit Account", edit_user_registration_path %>
<%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Create Account", new_user_registration_path %>
<% end %>

<div class ="parent">

    <div class ="background-container">
        <div class="background-image">
        </div>
    </div>

        <div id="hometask">
            <h1 class="task-header" id="class-header">Tasks</h1>
                <% if user_signed_in? %>
                <% if @tasks.any? %>
                    <ul id="task-list">
                        <% @tasks.each do |task| %>
                        <li>Task : <%= task.name %> | Difficulty : <%= task.xp_reward %> | Complete By: <%= task.due_date %></li><br>
                        <% end %>
                    </ul>
                <% else %>
                <% end %>
                <% else %>
                <% end %>
        </div>  
</div>