
<% content_for :javascript do %>
    <%= javascript_include_tag "index", type: "module" %>
  <% end %>

<h1 class="header">Gamer Task Manager</h1>

<% if user_signed_in? %>
<h2 class="header"><%= current_user.username %> has signed in!</h2>
<%= link_to "Edit Account", edit_user_registration_path %>
<%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Create Account", new_user_registration_path %>
<% end %>

<div class ="parent">

    <div class ="background-container">
        <div class="background-image">
        </div>
    </div>

        <div id="hometask">
            <h1 class="task-header" id="class-header">Tasks</h1>
                <% if user_signed_in? %>
                <% if @tasks.any? %>
                    <ul id="task-list">
                        <% @tasks.each do |task| %>
                        <li>Task : <%= task.name %> | Difficulty : <%= task.xp_reward %> | Complete By: <%= task.due_date %></li><br>
                        <% end %>
                    </ul>
                <% else %>
                <% end %>
                <% else %>
                <% end %>
        </div>  
    <div = "calendar">                     
    <iframe src="https://calendar.google.com/calendar/embed?src=peterlee597%40gmail.com&ctz=America%2FChicago"
     style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

    <div>
    <h2>Your Goals</h2>
    <%= link_to "Create New Goal", new_goal_path %>
    
    <% if @goals.any? %>
      <ul>
        <% @goals.each do |goal| %>
          <li>
            <strong><%= goal.title %></strong>
            <p><%= goal.description %></p>
            <%= link_to "Edit", edit_goal_path(goal) %> |
            <%= link_to "Delete", goal_path(goal), method: :delete, data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>You haven't created any goals yet. <%= link_to "Create your first goal", new_goal_path %></p>
    <% end %>
    </div>
</div>

