<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %><br>
    <%= form.text_field :name %>
  </div><br>

  <div>
    <%= form.label :description, style: "display: block" %><br>
    <%= form.text_area :description %>
  </div><br>

  <div>
    <%= form.label :due_date, style: "display: block" %><br>
    <%= form.date_field :due_date %>
  </div><br>
  
  <div>
  <%= form.label :start_time, style: "display: block" %><br>
  <%= form.datetime_local_field :start_time %>
  <%= form.label :end_time, style: "display: block" %><br>
  <%= form.datetime_local_field :end_time %>
  </div><br>

  <div>
    <%= form.label :xp_reward, style: "display: block" %><br>
    <%= form.select :xp_reward, Task.xp_rewards.keys.map { |key| [key.humanize, key.to_s] }, prompt: "Select an XP Reward" %>
  </div><br>

  <div>
    <%= form.label :category_id %><br><br>
    <%= form.collection_select :category_id, @categories, :id, :name, prompt: "Select a category" %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>

<% end %>
