<div id="<%= dom_id task %>">
  <p id="name">
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p id="description">
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p id="due_date">
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p id="xp_reward">
    <strong>Xp reward:</strong>
    <%= task.xp_reward %>
  </p>

</div>
