<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>

<div id = "task">
<h1 class = "header">Tasks</h1>
  <% @tasks.each do |task| %>
    <div id ="listed-task">
    <br>
    <%= render task %>
    <p>
      <%= link_to "Show this task", task %>
    </p>
    </div><br>
  <% end %>
</div>
<br>

<div class = "header">
<%= link_to "New task", new_task_path %>
<div>
<br>
<br>

<div id = "task_ui">

<h2 class = "header">Task Status</h2>
<% @tasks.each do |task| %>
  <li>
    <%= task.name %>
    <br>
    <!-- Form to mark the task as completed -->
    <%= form_with(model: task, method: :patch, local: true) do |form| %>
      <%= form.hidden_field :completed, value: 'false' %> <!-- Ensure false is sent when unchecked -->
      <%= form.check_box :completed, {}, true, false %>  <!-- Checkbox to mark task as completed -->
      <%= form.submit "Mark as Completed" %>
    <% end %>

    <% if task.completed %>
      <span id="badge-success">Completed</span>
    <% end %>
  </li>
  <br>
<% end %>
</div>
<br>
<br>
<div class = "header">
<%= link_to "Home", root_path %>
<div>