<div class = "goals_new">
<h1 id = "goal_header">Create a New Goal</h1>

<%= form_with(model: @goal, local: true) do |form| %>
  <% if @goal.errors.any? %>
    <div>
      <h2>Errors:</h2>
      <ul>
        <% @goal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div id = "goal_title">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div><br>

  <div id = "goal_description">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div><br>

  <div>
    <%= form.submit "Create Goal" %>
  </div>
<% end %>

<%= link_to 'Back to Goals', goals_path %>
</div>